* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://thumbs.gfycat.com/BlondIllustriousHorsechestnutleafminer-max-1mb.gif');
    background-size: cover;
}

main {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: rgba(255, 255, 255, 0.7);
}

.character-table {
    display: flex;

    flex-direction: column;

    border-style: solid;
    width: 15%;

    text-align: center;
}

.character,
.top-row {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.modifier {
    position: relative;
    width: 40px;
    right: 10px;
}

.close {
    position: absolute;
    right: 30%;
    height: 20px;

}