* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/rolling-dice.gif');
    background-size: cover;
}

main {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    position: fixed;

    top: 13vh;
}

h3 {
    position: fixed;
    top: 19vh;
}

.input-container {
    display: flex;

    justify-content: space-between;

    width: 20%;
    position: fixed;
    top: 27vh;
}

.character-table {
    display: flex;

    flex-direction: column;

    position: fixed;
    top: 32vh;
    border-style: solid;
    width: 20%;

    text-align: center;
}

.character,
.top-row {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
}

.modifier {
    width: 40px;
}

.close {
    position: absolute;
    left: 17.9vw;
    height: 15px;

}